################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VideoLibrary/bin
/VideoLibrary/obj/Debug
